<?xml version="1.0"?>
<configuration>
  <appSettings>
      <add key="Host" value ="smtp.gmail.com"/>
      <add key="EnableSsl" value="true"/>
      <add key="UserName" value="formaclubmailer@gmail.com"/>
      <add key="Password" value="eitanmug123"/>
      <add key="Port" value="587"/>
</appSettings>
  <connectionStrings>
    <add name="FormaFitConnectionString"  connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=igroup52_prod;
           User ID=igroup52;Password=igroup52_62368" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="Off" />
  </system.web>
</configuration>
